.emoji-list{
    margin-top: 1%;
  }
  
  .item-list{
    display: flex;
  }
  
  .item-button{
    background-color: white;
    text-align: left;
    font-size: 25px;
    padding: 8px;
    width: 100%;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    border-top-width: 1px;
    border-color: lightgrey;
    cursor: pointer;
  }
  
  .item-button:hover{
    background-color: rgb(240, 240, 240);
  }
  
  .item-button:hover .hide-click-item{
    color: rgb(194, 194, 194);
  }
  
  .hide-click-item{
    margin-right: 1%;
    float: right;
    padding-top: 4px;
    font-size: 20px;
    color:transparent;
  }